@mixin linear-gradient($first-color,$second-color,$thirth-color,$first-pos,$second-pos,$thirth-pos)
{
	background: $first-color; /* Old browsers */
    background: -moz-linear-gradient(top,  $first-color $first-pos, $second-color $second-pos, $thirth-color $thirth-pos); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop($first-pos,$first-color), color-stop($second-pos,$second-color), color-stop($thirth-pos,$thirth-color)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $first-color $first-pos,$second-color $second-pos,$thirth-color $thirth-pos); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $first-color $first-pos,$second-color $second-pos,$thirth-color $thirth-pos); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $first-color $first-pos,$second-color $second-pos,$thirth-color $thirth-pos); /* IE10+ */
    background: linear-gradient(to bottom,  $first-color $first-pos,$second-color $second-pos,$thirth-color $thirth-pos); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$first-color', endColorstr='$thirth-color',GradientType=0 ); /* IE6-9 */
}

@mixin margins($top:0, $right:0, $bottom:0, $left:0)
{
	margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}

@mixin paddings($top:0, $right:0, $bottom:0, $left:0)
{
	padding-top: $top;
    padding-bottom: $right;
    padding-right: $bottom;
    padding-left: $left;
}

@mixin clearfix(){
	display:block;
	content:"";
	height:0;
	overflow: hidden;
}

body, header, section, footer, article, h1, h2, h3, h4, h5, h6, input, button, label, p, fieldset, nav, ul, li, a, span, strong, em {
    margin: 0;
    padding: 0;
    border: 0;
}
.clearfix, body header div#header-container, body header nav, body header nav ul, body header nav ul li ul.sub-nav-list, body section, body aside {
    zoom: 1;
}

.clearfix:after, body header div#header-container:after, body header nav:after, body header nav ul:after, body header nav ul li ul.sub-nav-list:after, body section:after, body aside:after, .clearfix:before, body header div#header-container:before, body header nav:before, body header nav ul:before, body header nav ul li ul.sub-nav-list:before, body section:before, body aside:before {
        @include clearfix();
}

.clearfix:after, body header div#header-container:after, body header nav:after, body header nav ul:after, body header nav ul li ul.sub-nav-list:after, body section:after, body aside:after {
        clear: both;
}


$first-color: #d191fc;
$second-color: #c272ea;
$thirth-color: #9215f2;

$body-font: 14px normal Arial;

body{
	@include linear-gradient($first-color,$second-color,$thirth-color,0%,11%,30%);
	@extend .clearfix;
	font: $body-font;
	color: white;

	header{
		@include paddings(25px, 5px, 15px, 15px);

		div#header-container{
			@extend .clearfix;

			div#logo-container{
				float: left;
				position: relative;
			}

			div#reg-form-container {
				float: right;
				position: relative;
				right: 5%;
				top: 50%;

				div{
					text-align: right;

					label{
						width: 50px;
						margin: 5px;
					}

					input{
						width: 130px;
						border: 1px solid #603382;
						background-color: #B35EF3;
						border-radius: 10px;
						padding: 2px 5px;
						margin: 5px;
					}
				}

				button{
					margin-left: auto;
					margin-right: auto;
					background-color:#B35EF3;
					font-weight: bold;
					border: 3px outset #B77BE4;
					border-radius: 10px;
					padding: 5px 8px;

					&:hover{
						background-color: #8949b9;
						border-style: inset;
					}
				}
			}
		}

		nav{
			@extend .clearfix;

			display: inline-block;
            width: 75%;
            margin: 20px;
            padding: 12px;
            border: 2px solid #000;
            border-radius: 15px;

			ul{
				@extend .clearfix;

				li{
					float: left;
					margin: 0;
					margin-right: 10px;

					a{
						text-decoration: none;
						@include paddings(0px, 10px, 0px, 10px);
						color: white;
						font: 1.4em normal Arial;
					}

					a.selected{
						font-weight: bold;
					}

					&:hover{

						& > a{
							text-decoration: underline;
							color: #a8a8a8;
						}

						& > a + ul{
							display: block;
						}
					}

					ul.sub-nav-list{
						@extend .clearfix;
						
						position: absolute;
						display: none;
						background-color: rgba(179, 94, 243, 0.9);
						border-radius: 5px;
					}

					ul li{

						float: none;
						margin: 0 15px;
						padding: 10px 0;
						border-bottom: 1px solid black;

						&:last-of-type{
							border-bottom: none;
						}

						& > a{
							font-size: 1.2em;
							color: #fff;
						}
					}
				}
			}

			ul.nav-list{                
				list-style-type: none;
			}

		}
	}

	section{
		@extend .clearfix;

		width: 75%;
        float: left;
        color: black;

		article{
			margin: 20px;
            padding: 20px;
            border: 1px solid black;
            border-radius: 20px;

			header{
				background: none;
                padding: 5px;

				h1{
					font-size: 1.4em;
                    padding: 0;
				}
			}

			footer{
				padding: 5px;

				p{
					font-size: 16px;
                    text-align: right;
                    font-weight: normal;

					time{
						font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
                    }

					a{
						text-decoration: none;
                        color: #BC6CF6;

						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
		}
	}

	aside{
		@extend .clearfix;

		float: left;
        width: 20%;
        margin: 20px;

		& > ul{
			list-style-type: none;

			& > li{
				margin: 15px 0;
                padding: 15px;
                border: 1px solid black;
                border-radius: 5px;

				h2{
					font-size: 1.1em;
                    font-weight: bold;
				}

				p{
					@include margins(10px, 5px, 10px, 5px);
                    font-size: 14px;

					a{
						color: #aaaaaa;
                        text-decoration: none;
					}

					strong{
						color: #cccccc;
                        font-weight: bold;
                        font-style: normal;
					}

					em{
						color: #cccccc;
                        font-weight: normal;
                        font-style: italic;
					}
				}

				ul{
					list-style-type: none;
					@include margins(10px, 0px, 10px, 10px);

					li{
						@include margins(5px, 10px, 0px, 0px);
                        background: url(images/li-dot.png) no-repeat;
                        background-position: 0 50%;
                        padding-left: 25px;
					}
				}
			}
		}
	}

	footer{
		@extend .clearfix;

		clear: both;

		@include paddings(15px, 25px);

		p{
			font-size: 1.2em;
            font-weight: bold;
            text-align: center;
		}
	}
}