body,
html,
div,
form,
legend,
label,
input,
fieldset,
button {
  margin: 0;
  padding: 0;
}
body {
  font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
  font-size: 16px;
}
body #wrapper {
  width: 960px;
}
body #wrapper form {
  border: 1px solid black;
  border-radius: 15px;
  background: #68d1ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #68d1ff 0%, #8cfffb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #68d1ff), color-stop(100%, #8cfffb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #68d1ff 0%, #8cfffb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #68d1ff 0%, #8cfffb 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #68d1ff 0%, #8cfffb 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #68d1ff 0%, #8cfffb 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d29bff', endColorstr='#8977ff', GradientType=0);
  /* IE6-9 */
  margin-top: 25px;
  margin-left: 25px;
  text-align: right;
  padding: 15px 15px;
  width: 380px;
}
body #wrapper form fieldset {
  border-radius: 5px;
  border: 3px solid black;
  padding: 0 15px;
  padding-bottom: 5px;
}
body #wrapper form fieldset legend {
  font-size: 1.3em;
  font-style: italic;
  padding: 0 5px;
  padding: 0 15px;
  margin-bottom: 5px;
}
body #wrapper form fieldset input {
  margin-top: 1px;
  background: #69d2ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #69d2ff 0%, #8bfefb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #69d2ff), color-stop(100%, #8bfefb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #69d2ff 0%, #8bfefb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #69d2ff 0%, #8bfefb 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #69d2ff 0%, #8bfefb 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #69d2ff 0%, #8bfefb 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d29bff', endColorstr='#8977ff', GradientType=0);
  /* IE6-9 */
  border: 1px solid #008FCE;
  border-radius: 5px;
  height: 16px;
  width: 149px;
  padding: 5px 15px;
}
body #wrapper form fieldset input[type=number] {
  width: 35px;
  padding: 5px;
}
body #wrapper form input[type=radio] {
  margin-top: 7px;
  /*&:checked {
                    border: 3px solid #183348;
                    background-color: #0B82C7;
                }*/
}
body #wrapper form button {
  background: #36c2ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #36c2ff 0%, #8cfffb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36c2ff), color-stop(100%, #8cfffb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #36c2ff 0%, #8cfffb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #36c2ff 0%, #8cfffb 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #36c2ff 0%, #8cfffb 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #36c2ff 0%, #8cfffb 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d29bff', endColorstr='#8977ff', GradientType=0);
  /* IE6-9 */
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 1.2em;
  margin-top: 15px;
  border-bottom: 1px solid black;
}
body #wrapper form button:hover {
  background: none;
  background-color: #9BE1FF;
}
body #wrapper form input[type=reset] {
  background: #36c2ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #36c2ff 0%, #8cfffb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36c2ff), color-stop(100%, #8cfffb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #36c2ff 0%, #8cfffb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #36c2ff 0%, #8cfffb 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #36c2ff 0%, #8cfffb 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #36c2ff 0%, #8cfffb 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d29bff', endColorstr='#8977ff', GradientType=0);
  /* IE6-9 */
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 1.2em;
  margin-top: 15px;
  border-bottom: 1px solid black;
}
body #wrapper form input[type=reset]:hover {
  background: none;
  background-color: #9BE1FF;
}
/*# sourceMappingURL=task3.css.map */