body {
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

div, aside, ul, li, a {
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

ul li {
    font-size: 1.4em;
    border-bottom: 1px solid #9D00FF;
    padding: 5px;
    position: relative;
}

ul li:hover {
    border: 1px solid #9D00FF;
    border-radius: 5px;
}

ul li:last-child {
    border-bottom: none;
}

ul li > ul {
    position: absolute;
    display: none;
}

#wrapper {
    width: 960px;
}

aside {
    margin-left: 20px;
    margin-top: 10px;
    display: inline-block;
    background: rgb(210,155,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(210,155,255,1) 0%, rgba(137,119,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(210,155,255,1)), color-stop(100%,rgba(137,119,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(210,155,255,1) 0%,rgba(137,119,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(210,155,255,1) 0%,rgba(137,119,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(210,155,255,1) 0%,rgba(137,119,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(210,155,255,1) 0%,rgba(137,119,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d29bff', endColorstr='#8977ff',GradientType=0 ); /* IE6-9 */
    
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
}

ul.sidebar li:hover > a + ul {
    display: block;
}

ul.sidebar li > ul {
    background-image: url(imgs/arrow.png);
    background-repeat: no-repeat;
    background-position: 5px 15px;
    margin-top: -30px;
    margin-left: 165px;
    width: 190px;
    border-radius: 10px;
    background-color: #B5AAFF;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    text-align: center;
}
ul.sidebar li > ul li {
    font-size: 0.8em;
}